/*---------- COLOR ----------*/
:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  ---dark-gray: hsl(0, 0%, 59%);
  ---light-gray: hsl(0, 0%, 80%);
}

/*---------- FONT ----------*/
/*
font-family: 'Kumbh Sans', sans-serif;
font-weight: 400, 700;
*/

/*---------- BASE ----------*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--dark-cyan);
  font-size: 1.8rem;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-image: url("images/bg-pattern-top.svg"),
    url("images/bg-pattern-bottom.svg");
  background-repeat: no-repeat;
  background-position: -20vw -70vh, 50vw 30vh;
}

@media (max-width: 68.75em) {
  body {
    background-size: 80%, 80%;
    background-position: -40vw -20vh, 60vw 30vh;
  }
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  margin: 5rem;
  text-align: center;
}

/*---------- IMAGE ----------*/
.user-img {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 10rem;
  border-radius: 100px;
  border: 5px solid white;
}

/*---------- USER INFO ----------*/
.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 8rem;
}
.user {
  font-size: 2rem;
  font-weight: 700;
}
.age {
  color: var(--dark-grayish-blue);
}

.location {
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  color: var(---dark-gray);
  margin-bottom: 1.5rem;
}

.profile-state::before {
  content: "";
  background-color: var(---light-gray);
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 9rem;
  left: 0;
}

.profile-state {
  display: flex;
  justify-content: space-between;
  padding: 3rem 4rem;
}

.state-number {
  font-weight: 700;
  letter-spacing: 0.5px;
}

.state-name {
  font-size: 1.1rem;
  letter-spacing: 1px;
  color: var(---dark-gray);
}

/*---------- FOOTER ----------*/
.attribution {
  font-size: 1.1rem;
  text-align: center;
  color: var(--very-dark-desaturated-bluedark);
}
.attribution a {
  color: white;
}

/*---------- LESS THAN 944px ----------*/
